

.box1 {
    width: 50vw;
    background-color: lightblue;
}

.box2 {
    width: 15em;
    background-color: lightcoral;
}

.box3 {
    width: 200px;
    background-color: lightseagreen;
}

.box4 {
    width: 30mm;
    background-color: lightslategray;
}

