
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J+Guides:ital@0;1&display=swap');

body {
    font-family: 'Roboto';
}

@font-face {
  font-family: 'Slavik';
  font-style: normal;
  font-weight: 400;
  /* Указана точная прямая ссылка на файл шрифта */
  src: url('../fonts/Slavik-Regular.otf') format('opentype');
}

/* дискриптор */

.custom-font {
    font-family: 'Slavik', Arial;
}


body {
    line-height: 1.5;
}

/* для адаптива изменяет размер шрифта */