.red-color {
    color: rgb(255 0 0 / 0.5);
}


.current-color {
    color: blue;
    border: 3px dashed currentColor;
}

.button {
    color: cyan;
    display: inline-block;
    width: 20%;
}
svg * {
    fill: currentColor;
}